backup_manual/
obs-studio/.deps/
obs-studio/deps/
obs-studio/docs/
obs-studio/additional_install_files/
obs-studio/build_x86/
obs-studio/build_x64/
obs-studio/build-aux/
obs-studio/cmake/
obs-studio/deps/docs/
obs-studio/frontend/
obs-studio/libobs/
obs-studio/libobs-d3d11/
obs-studio/libobs-metal/
obs-studio/libobs-opengl/
obs-studio/libobs-winrt/
obs-studio/shared/
obs-studio/test/
obs-studio/AUTHORS
obs-studio/build_log.txt
obs-studio/CMakeLists.txt
obs-studio/CMakePresets.json
obs-studio/COC.rst
obs-studio/CONTRIBUTING.rst
obs-studio/COPYING
obs-studio/INSTALL
obs-studio/README.rst

obs-studio/plugins/aja/
obs-studio/plugins/coreaudio-encoder/
obs-studio/plugins/decklink/
obs-studio/plugins/image-source/
obs-studio/plugins/linux-alsa/
obs-studio/plugins/linux-capture/
obs-studio/plugins/linux-jack/
obs-studio/plugins/linux-pipewire/
obs-studio/plugins/linux-pulseaudio/
obs-studio/plugins/linux-v4l2/
obs-studio/plugins/mac-avcapture/
obs-studio/plugins/mac-capture/
obs-studio/plugins/mac-syphon/
obs-studio/plugins/mac-videotoolbox/
obs-studio/plugins/mac-virtualcam/
obs-studio/plugins/nv-filters/
obs-studio/plugins/obs-browser/
obs-studio/plugins/obs-ffmpeg/
obs-studio/plugins/obs-filters/
obs-studio/plugins/obs-libfdk/
obs-studio/plugins/obs-nvenc/
obs-studio/plugins/obs-outputs/
obs-studio/plugins/obs-qsv11/
obs-studio/plugins/obs-text/
obs-studio/plugins/obs-transitions/
obs-studio/plugins/obs-vst/
obs-studio/plugins/obs-webrtc/
obs-studio/plugins/obs-websocket/
obs-studio/plugins/obs-x264/
obs-studio/plugins/oss-audio/
obs-studio/plugins/rtmp-services/
obs-studio/plugins/sndio/
obs-studio/plugins/text-freetype2/
obs-studio/plugins/vlc-video/
obs-studio/plugins/win-capture/
obs-studio/plugins/win-dshow/
obs-studio/plugins/win-wasapi/
obs-studio/plugins/CMakeLists.txt    


